<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>JT Viewer</title>
    <link rel="stylesheet" href="~/Content/styles.css">
    <link href= "~/Content/bootstrap.min.css" rel="stylesheet">
</head>

@RenderBody()

</html>
